<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" href="../../index.html">
      <i class="mdi mdi-grid-large menu-icon"></i>
      <span class="menu-title">Dashboard</span>
    </a>
  </li>
  <li class="nav-item nav-category">Filtros</li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="collapse" href="#form-elements" aria-expanded="false"
      aria-controls="form-elements">
      <i class="menu-icon mdi mdi-card-text-outline"></i>
      <span class="menu-title">Filtro por Sucursal</span>
      <i class="menu-arrow"></i>
    </a>
    <div class="collapse" id="form-elements">
      <ul class="nav flex-column sub-menu">
        <div class="form-check" *ngFor="let suc of sucursales">
          <input (change)="checkValue($event)" class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
          <label class="form-check-label" for="flexCheckDefault">
            {{ suc.name }}
          </label>
        </div>
      </ul>
    </div>
  </li>
  <li class="nav-item nav-category">Ayuda</li>
  <li class="nav-item">
    <a class="nav-link" href="#">
      <i class="menu-icon mdi mdi-file-document"></i>
      <span class="menu-title">Documentation</span>
    </a>
  </li>
</ul>