<!-- <div id="datepicker-popup2" class="input-group date datepicker navbar-date-picker">
    <span class="input-group-addon input-group-prepend border-right">
        <span class="icon-calendar input-group-text calendar-icon"></span>
    </span>
    <input class="form-control" [(ngModel)]="fechaDesde" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" />
</div> -->
<!-- 
<button type="button" class="btn btn-inverse-primary btn-rounded btn-icon">
    <i class="ti-search"></i>
  </button> -->



  <li class="nav-item d-none d-lg-block">
    <div id="datepicker-popup2" class="input-group date datepicker navbar-date-picker">
        <span class="input-group-addon input-group-prepend border-right">
            <span class="icon-calendar input-group-text calendar-icon"></span>
        </span>
        <input class="form-control" [(ngModel)]="fechaDesde" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" />
    </div>
  </li>
  <!-- <li class="nav-item d-none d-lg-block">
    <div id="datepicker-popup1" class="input-group date datepicker navbar-date-picker">
        <span class="input-group-addon input-group-prepend border-right">
            <span class="icon-calendar input-group-text calendar-icon"></span>
        </span>
        <input class="form-control" [(ngModel)]="fechaHasta" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" />
    </div>
  </li> -->