<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" href="../../index.html">
      <i class="mdi mdi-grid-large menu-icon"></i>
      <span class="menu-title">Dashboard</span>
    </a>
  </li>
  <li class="nav-item nav-category">Filtros</li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="collapse" href="#form-elements" aria-expanded="true"
      aria-controls="form-elements">
      <i class="menu-icon mdi mdi-card-text-outline"></i>
      <span class="menu-title">Filtro por Sucursal</span>
      <i class="menu-arrow"></i>
    </a>
    <div class="collapse show" id="form-elements">
      <div class="submenu-sidebar">
        <app-filtros />
      </div>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="collapse" href="#form-elements1" aria-expanded="true"
      aria-controls="form-elements1">
      <i class="menu-icon mdi mdi-card-text-outline"></i>
      <span class="menu-title">Filtro por Supervisor</span>
      <i class="menu-arrow"></i>
    </a>
    <div class="collapse show" id="form-elements1">
      <div class="submenu-sidebar">
        <app-filtros-supervisores />
      </div>
    </div>
  </li>
  <li class="nav-item nav-category">Ayuda</li>
  <li class="nav-item">
    <a class="nav-link" href="#">
      <i class="menu-icon mdi mdi-file-document"></i>
      <span class="menu-title">Documentation</span>
    </a>
  </li>
</ul>